{% extends 'base.html' %}
{% load humanize %}

{% block content %}
 <div class="panel-body">
    <h2><a href="{% url 'booking_list' %}"> Bookings</a> | Booking Detail
       <div class="float-right"> <a href="{% url 'booking_edit' booking.pk%}">
            <button type="button" class="btn btn-secondary btn-xm">
            <i class="fa fa-pencil"></i> Edit Request</button>
        </a>

        <a href="{% url 'booking_new' %}">
            <button type="button" class="btn btn-success btn-xm">
            <i class="fa fa-plus"></i> New Booking</button>
        </a>
        <a href="{% url 'booking_delete' booking.pk %}" class="btn btn-danger btn-xm">
        <i class="fa fa-times"></i> Cancel Request
        </a> </div>
    </h2>
        <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Resource</th>
                <th>Category</th>
                <th>Start Date/Time</th>
                <th>End Date/Time</th>
                <th>Booking Time</th>
                <th>Status</th>
                <th>Location</th>
                <th>Availability</th>
            </tr>
        </thead>
        <tbody id="myTable">
        <tr>
            <td>
              {{booking.id}}
            </td>
            <td>
               {{booking.resource}} 
            </td>
            <td>
                {{booking.resource.category}}
            </td>                    
            <td>
                {{ booking.reservation_date}} 
            </td>
            <td>
                {{ booking.return_date }} 
            </td>
            <td>
                {{booking.booking_time | naturaltime }}
            </td>
            <td>
                {% if booking.status == "applying" %}
                <span class="badge badge-pill badge-primary">{{ booking.status}}</span>
                {%elif booking.status == "declined" %}
                <span class="badge badge-pill badge-danger">{{ booking.status}}</span>
                {%else%}
                <span class="badge badge-pill badge-success">{{ booking.status}}</span>
                {% endif %}
            </td>
            <td>
                {{booking.resource.location}}
            </td>
            <td>
                {{booking.resource.availability}}
            </td>
        </tr>
    </tbody>
    </table>
    <div class="jumbotron">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Photo</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img width="300" height="200" src="{{ booking.resource.image_url }}"> </td> 
                    <td>{{ booking.resource.description}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>     
{% endblock %}
				