{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h2>Manage Booking
        <a  class="btn btn-danger btn-xm float-right" href="{{request.META.HTTP_REFERER}}"><i class="fa fa-times"></i> Cancel </a>
    </h2>
    <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Resource</th>
                    <th>Category</th>
                    <th>Start Date/Time</th>
                    <th>End Date/Time</th>
                    <th>Booking Time</th>
                    <th>Status</th>
                    <th>Location</th>
                    <th>Availability</th>
                </tr>
            </thead>
            <tbody id="myTable">
            <tr>
                <td>
                  {{booking.id}}
                </td>
                <td>
                   {{booking.resource}} 
                </td>
                <td>
                    {{booking.resource.category}}
                </td>                    
                <td>
                    {{ booking.reservation_date}} 
                </td>
                <td>
                    {{ booking.return_date }} 
                </td>
                <td>
                    {{booking.booking_time }}
                </td>
                <td>
                    {% if booking.status == "applying" %}
                    <span class="badge badge-pill badge-primary">{{ booking.status}}</span>
                    {%elif booking.status == "declined" %}
                    <span class="badge badge-pill badge-danger">{{ booking.status}}</span>
                    {%else%}
                    <span class="badge badge-pill badge-success">{{ booking.status}}</span>
                    {% endif %}
                </td>
                <td>
                    {{booking.resource.location}}
                </td>
                <td>
                    {{booking.resource.availability}}
                </td>
            </tr>
            <tr>
                <td>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form | crispy}}
                        <div class="btn-group" role="group">
                          <button type="submit" class="btn btn-success">
                            <i class="fa fa-check"></i> Update</button>  
                          <a class="btn btn-danger" href="{% url 'booking_delete' booking.pk %}">
                           <i class="fa fa-trash"></i> Delete</a>
                        </div>  
                    </form>                
                </td>
            </tr>
        </tbody>
    </table>    
{% endblock content %}