{% extends 'base.html' %}

{% block content %}
<h1 class="mt-4 pt-4" style="color:black">About</h1>
        <ul class="mt-4 text-muted" style="font-size: 19px;">
            <li><p>Mubas Resources Reservation System is the management system of various resources at the Malawi University of Business and Applied Science.</p></li>
            <li><p>The Admin can add and delete the resources when required.<br></li>
            <li><p>Available resources including rooms, projectors etc., are requested to issue by the users (students/lecturers) and the Staff (Receptionist) can accept or reject the booking request.</p></li>
            <li><p>The resources are collected manually by the users at various locations</p></li>
        </ul>

{% endblock %}
				